body {
background-color: black;}
.first {
    background-color:#6f1d1b;
}
.second {
    color:#6f1d1b;
    background-color:whitesmoke;
    text-align: center;
    margin-top: 200px;
    margin-right: 400px;
    margin-left: 400px;
    height: 250px;
    font-size: xx-large;
    padding: 30px 20px 0 20px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
